<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/style.css"/>
		<link rel="stylesheet" type="text/css" href="css/setting.css"/>
	</head>
	<body>
		<!--<header>
			<div class="header">
			     <span>xx数据分析系统</span>		
			     <div class="my">
			     	<img src="../img/my.png" alt="" />
			     	<span>用户名</span>
			     </div>
		    </div>
		</header>-->
	<!--<section>-->
		<!--<nav class="nav_left">
			<ul>
				<li>数据概况</li>
			
			</ul>
		</nav>-->
		<section class="center">
			<div class="top_title">
				<div>省代公司</div>	
				<div>二级代理商</div>	
				<div>终端</div>	
			</div>
			<div class="box_wrapper">
				<div class="">
					西安臻学有电子科技有限公司
				</div>
				<div class="">
					<p><span class="name">鋖德马志强</span><span class="write_icon"><img src="../img/write.png" alt="" /></span><span class="delete_icon"><img src="../img/detete.png" alt="" /></span></p>
					<p><span class="name">清涧王明明</span><span class="write_icon"><img src="../img/write.png" alt="" /></span><span class="delete_icon"><img src="../img/detete.png" alt="" /></span></p>
					<p><span class="name">榆林鑫诺电子科技有限公司</span><span class="write_icon"><img src="../img/write.png" alt="" /></span><span class="delete_icon"><img src="../img/detete.png" alt="" /></span></p>
				</div>
			</div>
		</section>
		
	
	<!--</section>-->
	</body>
</html>
